ul {
    list-style-type: none;
    background-color: inherit;
}

li {
    display: inline-block;
    background-color: inherit;
}

.navLink {
    text-decoration: none;
    color: white;
    background-color: inherit;
    padding: 13px 20px;
    font-weight: 600;
    font-size: medium;
}

.navLink:hover {
    border-bottom: 3px solid #61892f;
}

.active {
    border-bottom: 3px solid #86c232;
}

nav {
    background-color: #222629;
    width: 100%;
    height: fit-content;
    position: fixed;
    top: 0;
}